<section class="game">
  <div class="dismiss-button">&times;</div>
    <h2>{{title}}</h2>
    <div class="game-body">
      {{#if body.choice2}}
        <p class="indent-wrapped"><span class="choice2">choice2: </span>{{body.choice2}}</p>
      {{/if}}
      {{#if body.choice1}}
        <p class="indent-wrapped"><span class="choice1">choice1: </span>{{body.choice1}}</p>
      {{/if}}
      {{#if body.choice3}}
        <p class="indent-wrapped"><span class="choice3">choice3: </span>{{body.choice3}}</p>
      {{/if}}
      {{#if body.details}}
        <p>{{body.details}}</p>
      {{/if}}
    </div>
</section>
