<section class="todo">
  <div class="dismiss-button">&times;</div>
    <h2>{{what}}</h2>
    <div class="todo-body">
      {{#if body.where}}
        <p class="indent-wrapped"><span class="where">where: </span>{{body.where}}</p>
      {{/if}}
      {{#if body.when}}
        <p class="indent-wrapped"><span class="when">when: </span>{{body.when}}</p>
      {{/if}}
      {{#if body.who}}
        <p class="indent-wrapped"><span class="who">who: </span>{{body.who}}</p>
      {{/if}}
      {{#if body.details}}
        <p>{{body.details}}</p>
      {{/if}}
    </div>
</section>
